@use "../../styles//variables" as *;

.button{
    border: 1px solid $colourFour;
    border-radius: 3px;
    background-color: $colourThree;
    color: $colourFour;
    font-family: $fontfamily2;
    font-size: 12px;
    margin-top: 14px;
}