@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


$fontfamily1: 'Dhurjati', sans-serif;
$fontfamily2: 'Dosis', sans-serif;

$colourOne: #2144ae;
$colourTwo: rgba(35, 80, 244, 0.5);
$colourThree: white; 
$colourFour: black;